<a href="https://colab.research.google.com/github/shahdcode/Credit-Card-Approval-Prediction/blob/main/Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Feature Engineering**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Read Merged File

In [2]:
merged_csv = merged_csv = pd.read_csv('/content/drive/MyDrive/Ai project/merged_application_credit_record.csv')

merged_csv.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS,status_mapped
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Laborers,2.0,C,1
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Laborers,2.0,C,1
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,X,1
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,X,1
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,X,1

Apply Feature Engineering to DAYS_BIRTH and DAYS_EMPLOYED columns.

In [4]:
df = pd.DataFrame(merged_csv)

# create new feature that converts Days_brith to years (age)
df['AGE_YEARS'] = (df['DAYS_BIRTH'].abs() / 365).astype(int)

# create new feature that converts days_employed into years
df['YEARS_EMPLOYED'] = (df['DAYS_EMPLOYED'].abs() / 365).astype(int)


print('Age in years')
print(df['AGE_YEARS'])
print('Years of Employment')
print(df['YEARS_EMPLOYED'])

Age in years
0        32
1        32
2        58
3        52
4        52
         ..
32170    47
32171    33
32172    33
32173    49
32174    25
Name: AGE_YEARS, Length: 32175, dtype: int64
Years of Employment
0        12
1        12
2         3
3         8
4         8
         ..
32170     6
32171     3
32172     3
32173     1
32174     3
Name: YEARS_EMPLOYED, Length: 32175, dtype: int64

# Label Encoding

In [7]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

# encode following labels: gender, flag_own_car, flag_own_realty, name_income_type, name_education_type, name_family_status,
#                           name_housing_type, occupation type, status


# encode code_gender (male: 1, female: 0)
df['CODE_GENDER'] = label_encoder.fit_transform(df['CODE_GENDER'])

# print(df['CODE_GENDER'])

#encode FLAG_OWN_CAR
df['FLAG_OWN_CAR'] = label_encoder.fit_transform(df['FLAG_OWN_CAR'])

#encode FLAG_OWN_REALTY
df['FLAG_OWN_REALTY'] = label_encoder.fit_transform(df['FLAG_OWN_REALTY'])

#encode NAME_INCOME_TYPE
df['NAME_INCOME_TYPE'] = label_encoder.fit_transform(df['NAME_INCOME_TYPE'])

#encode NAME_EDUCATION_TYPE
df['NAME_EDUCATION_TYPE'] = label_encoder.fit_transform(df['NAME_EDUCATION_TYPE'])

#encode NAME_FAMILY_STATUS
df['NAME_FAMILY_STATUS'] = label_encoder.fit_transform(df['NAME_FAMILY_STATUS'])

#encode NAME_HOUSING_TYPE
df['NAME_HOUSING_TYPE'] = label_encoder.fit_transform(df['NAME_HOUSING_TYPE'])

#encode OCCUPATION_TYPE
df['OCCUPATION_TYPE'] = label_encoder.fit_transform(df['OCCUPATION_TYPE'])

# #encode STATUS
# df['STATUS'] = label_encoder.fit_transform(df['STATUS'])

Drop Unnessary Columns

In [10]:
df = df.drop('DAYS_BIRTH', axis=1)
df = df.drop('DAYS_EMPLOYED', axis=1)

In [12]:
# fixing overfitting values in years_employed column

# Calculate the median excluding 1000
median_years = df[df['YEARS_EMPLOYED'] != 1000]['YEARS_EMPLOYED'].median()

# Replace 1000 values with the median
df['YEARS_EMPLOYED'] = df['YEARS_EMPLOYED'].replace(1000, median_years)

# Feature Scaling

In [ ]:
# from sklearn.preprocessing import MinMaxScaler

# norm = MinMaxScaler().fit(x_train)
# x_train_norm = norm.transform(x_train)
# x_test_norm = norm.transform(x_test)

# Saving after Feature Engineering

In [13]:
df.to_csv('Feature_eng.csv', index=False)
files.download('Feature_eng.csv')